<div class="global-header">
  <div class="global-header__contact">
    <div class="wrapper">
      <nav>
        <a href="tel:18583452000">1.858.345.2000</a>
        <a href="mailto:info@fortifi.com">info@fortifi.com</a>
        <a href="https://www.energyefficientequity.com/login/" class="login">Login</a>
      </nav>
    </div>
  </div>
  <div class="wrapper">
    <div class="global-header__wrap">
      {{>@brand}}
      {{>@global-nav}}
      {{>@nav-toggle}}
    </div><!--/ __wrap -->
  </div><!--/ wrapper -->
</div>
