<div class="wrapper wrapper--small">
  <div class="standard-rte-content rhythm rich-text">
    {{#>@heading variant="h2"}}Privacy Policy{{/@heading}}

    <p>Donec id justo. Mauris sollicitudin fermentum libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Suspendisse non nisl sit amet velit hendrerit rutrum. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.<br>
    </p>
    <p>Vivamus quis mi. Fusce convallis metus id felis luctus adipiscing. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Praesent ut ligula non mi varius sagittis. Morbi ac felis.
    </p>
    <p>Fusce convallis metus id felis luctus adipiscing. Praesent egestas neque eu enim. Vivamus elementum semper nisi. Nullam accumsan lorem in dui. Phasellus tempus.
    </p>
    <p>Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Fusce pharetra convallis urna. Morbi ac felis. Ut non enim eleifend felis pretium feugiat.
    </p>
    <p>Duis leo. Phasellus magna. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Donec vitae sapien ut libero venenatis faucibus. Suspendisse feugiat.
    </p>
    <p>Vestibulum volutpat pretium libero. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Vestibulum ullamcorper mauris at ligula. Maecenas egestas arcu quis ligula mattis placerat. Cras non dolor.
    </p>
    <p>Donec mollis hendrerit risus. Nunc sed turpis. Cras non dolor. Nullam accumsan lorem in dui. In dui magna, posuere eget, vestibulum et, tempor auctor, justo.
    </p>
    <p>Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Cras ultricies mi eu turpis hendrerit fringilla. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Phasellus a est. Phasellus nec sem in justo pellentesque facilisis.
    </p>
  </div><!--/ rhythm rich-text -->
</div>

<div class="wrapper wrapper--small">
  <div class="standard-rte-content rhythm rich-text">
    {{#>@heading variant="h2"}}Terms of Use{{/@heading}}

    <p>Duis leo. Phasellus magna. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Donec vitae sapien ut libero venenatis faucibus. Suspendisse feugiat.
    </p>
    <p>Vestibulum volutpat pretium libero. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Vestibulum ullamcorper mauris at ligula. Maecenas egestas arcu quis ligula mattis placerat. Cras non dolor.
    </p>
    <p>Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Fusce pharetra convallis urna. Morbi ac felis. Ut non enim eleifend felis pretium feugiat.
    </p>
    <p>Donec mollis hendrerit risus. Nunc sed turpis. Cras non dolor. Nullam accumsan lorem in dui. In dui magna, posuere eget, vestibulum et, tempor auctor, justo.
    </p>
  </div><!--/ rhythm rich-text -->
</div>
