.apply-now-form {
  .button#opens--ca-modal-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__heading {
    &::before {
      display: block;
      content: '';
      margin-top: -216px;
      height: 216px;
      visibility: hidden;
      pointer-events: none;
    }
  }

  .js-next-pg-button:not(.modal__close):not(.modal__cta),
  .js-prev-pg-button:not(.modal__close):not(.modal__cta) {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  &.is-hidden {
    display: none;
  }
}
