<div class="wheel-swatch bg--gray">gray</div>
<div class="wheel-swatch bg--gray-1">gray-1</div>
<div class="wheel-swatch bg--gray-2">gray-2</div>
<div class="wheel-swatch bg--gray-3">gray-3</div>
<div class="wheel-swatch bg--gray-4">gray-4</div>
<div class="wheel-swatch bg--gray-5">gray-5</div>
<br />
<div class="wheel-swatch bg--lime">lime</div>
<div class="wheel-swatch bg--mist">mist</div>
<div class="wheel-swatch bg--ocean">ocean</div>
<div class="wheel-swatch bg--sky">sky</div>
<div class="wheel-swatch bg--error">error</div>
<div class="wheel-swatch bg--gradient">gradient</div>
