<div class="wrapper wrapper--small">
<div class="accordion-group">


  {{#>@accordion
    id="accordion-0-control"
    title="Orange County"
  }}

    <ul>
      <li>Azusa</li>
      <li>Bellflower*</li>
      <li>Claremont</li>
      <li>Duarte</li>
      <li>El Monte</li>
      <li>Glendale</li>
      <li>Huntington Park</li>
      <li>La Mirada</li>
      <li>Lancaster</li>
      <li>La Verne</li>
      <li>Long Beach</li>
      <li>Los Angeles</li>
      <li>Lynwood*</li>
      <li>Santa Monica</li>
      <li>Torrance</li>
      <li>West Covina*</li>
      <li>West Hollywood</li>
    </ul>

    <p class="span-all">* Coming Soon!</p>

  {{/@accordion}}

  {{#>@accordion
    id="accordion-1-control"
    title=" Los Angeles County"
  }}

    <ul>
      <li>The Descendents</li>
      <li>Bad Religion</li>
      <li>Black Flag</li>
      <li>The Beach Boys</li>
      <li>The Dickies</li>
      <li>Germs</li>
      <li>Jane's Addiction</li>
      <li>L7</li>
      <li>Minutemen</li>
      <li>Firehose</li>
      <li>Snoop Dogg</li>
      <li>Suicidal Tendencies</li>
      <li>Van Halen</li>
      <li>"Weird Al" Yankovic</li>
    </ul>
  {{/@accordion}}

  {{#>@accordion
    id="accordion-2-control"
    title="Oxnard"
  }}
    <ul>
      <li>Dr. Know</li>
      <li>Ill Repute</li>
      <li>RKL</li>
      <li>Agression</li>
      <li>Punky Dorie</li>
      <li>False Confession</li>
    </ul>
  {{/@accordion}}

  </div> <!--/ accordion-group -->
</div> <!--/ wrapper--small -->
