<section class="form-footer" id="get-started">
  <div class="form-footer__filler">
    <div class="wrapper--no-padding">
      <figure class="form-footer__figure">
      <img class="form-footer__image" src="//picsum.photos/id/283/1350/392">
      <div class="wrapper wrapper--small wrapper--no-padding">
        <figcaption class="form-footer__caption">
          <div class="form-footer__heading rhythm--small">
            <h2 class="heading heading--h1">Get started.</h2>
            <h4 class="heading heading--h3">Find out how much you qualify for.</h4>
          </div><!--/ __heading -->
          <div class="form-footer__content">
            <ul class="list list--plain form-footer__list rhythm">
              <li class="form-footer__list-item">Most Properties Qualify</li>
              <li class="form-footer__list-item">100% Financing $0 Down</li>
              <li class="form-footer__list-item">Not based on Credit Score</li>
              <li class="form-footer__list-item">Thousands of Eligible Improvements</li>
            </ul>
          </div><!--/ __content -->
        </figcaption><!--/ __caption -->
      </div><!--/ wrapper--small -->
    </figure>
  </div><!--/ wrapper--large -->
  {{>@forms--footer}}
  </div><!--/ form-footer__filler -->
</section>
