<div class="global-footer ">
  <div class="wrapper">
    <div class="global-footer__wrap">
      <div class="global-footer__meta rhythm">
        {{>@brand--light}}
        <p class="legal">
          &copy; 2019 FortiFi Capital, all rights reserved
          <br/>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
        </p>
      </div><!--/ __meta -->

      <div class="global-footer__menu">
        {{#>@list variant="blank"}}
          <li><a href="#" class="global-footer__menu-item">How it works</a></li>
          <li><a href="#" class="global-footer__menu-item">About Us</a></li>
          <li><a href="#" class="global-footer__menu-item">Contact</a></li>
          <li><a href="#" class="global-footer__menu-item">Resources</a></li>
        {{/@list}}
      </div><!--/ __menu -->

      <div class="global-footer__contact rhythm">
        <strong>FortiFi Capital</strong>
        <p>
          11111 Santa Monica Blvd. Suite 950 <br/>
          Los Angeles, CA 90025
        </p>
        <p>
          <a href="tel:18583452000">1.858.345.2000</a><br>
          <a href="mailto:info@fortifi.com">info@fortifi.com</a>
        </p>
      </div><!--/ __contact -->
    </div><!--/ __wrap -->
  </div><!--/ wrapper -->
</div><!--/ global-footer -->
