<div class="wrapper wrapper--relative rhythm">
  <div class="stats-decor">
    <div class="wrapper wrapper--small">
      {{#>@heading variant="h3" tagName="h3" className="text-align--center"}}The financing can be used for improvements that are good for the environment and save you money on your utility bills.{{/@heading}}
    
      <div class="stats">
        {{#>@card className="stats__item rhythm"}}
          <div class="stats__heading-halo">
            {{#>@heading variant="h1" tagName="h3" className="stats__heading"}}1{{/@heading}}
          </div>
          <p>Apply online for instant approval, no FICO required</p>
        {{/@card}}
        {{#>@card className="stats__item rhythm"}}
          <div class="stats__heading-halo">
            {{#>@heading variant="h1" tagName="h3" className="stats__heading"}}2{{/@heading}}
          </div>
          <p>Choose a term up to 30 years</p>
        {{/@card}}
        {{#>@card className="stats__item rhythm"}}
          <div class="stats__heading-halo">
            {{#>@heading variant="h1" tagName="h3" className="stats__heading"}}3{{/@heading}}
          </div>
          <p>Start your project and save on your utility bills</p>
        {{/@card}}
      </div><!--/ stats -->
    </div><!--/ wrapper small -->
  </div><!--/ stats-decor -->
</div><!--/ wrapper -->
