<div class="card-deck-wrapper card-deck-wrapper--has-margin-bottom wrapper wrapper--large rhythm">
  {{#>@heading variant="h2" className="color--white"}}Hundreds of Eligible Improvements{{/@heading}}
  <div class="card-deck">
    <div class="wrapper rhythm--large">
      <div class="card-deck__layout card-deck__layout__2col">
        {{#>@card-deck-item}}{{/@card-deck-item}}
        {{#>@card-deck-item}}{{/@card-deck-item}}
        {{#>@card-deck-item}}{{/@card-deck-item}}
        {{#>@card-deck-item}}{{/@card-deck-item}}
        {{#>@card-deck-item}}{{/@card-deck-item}}
        {{#>@card-deck-item}}{{/@card-deck-item}}
        {{#>@card-deck-item}}{{/@card-deck-item}}
        {{#>@card-deck-item}}{{/@card-deck-item}}
        {{#>@card-deck-item}}{{/@card-deck-item}}
      </div><!--/ __layout -->

      <figure class="card-deck__testimonial">
        <blockquote class="blockquote">
          <p>“Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
          <figcaption class="figcaption">Frank O’Hara</figcaption>
        </blockquote>
      </figure>

      <div class="card-deck__cta">
        <a href="#" class="button button--link button--primary button--size-default">Get started</a>
      </div>
    </div><!--/ wrapper -->
  </div><!--/ card-deck -->
</div><!--/ card-deck-wrapper -->
