<div class="card-deck-wrapper wrapper wrapper--large rhythm">
  <div class="card-deck">
    <div class="wrapper rhythm--large">
      <div class="card-deck__layout card-deck__layout__3col">
        {{#>@card-deck-item}}{{/@card-deck-item}}
        {{#>@card-deck-item}}{{/@card-deck-item}}
        {{#>@card-deck-item}}{{/@card-deck-item}}
      </div><!--/ __layout -->

      <figure class="card-deck__testimonial">
        <blockquote class="blockquote">
          <p>“Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
          <figcaption class="figcaption">Jim Hall, Contractor, Rancho Bernardo, CA</figcaption>
        </blockquote>
        <p class="card-deck__cta">
          <a href="#get-started" class="button button--link button--primary button--size-default">Get Started</a>
        </p>
      </figure>
    </div><!--/ wrapper -->
  </div><!--/ card-deck -->
</div><!--/ card-deck-wrapper -->
