{{#>@accordion
  id="accordion-1-control"
  title=" Los Angeles County"
}}
  <ul>
    <li>The Descendents</li>
    <li>Bad Religion</li>
    <li>Black Flag</li>
    <li>The Beach Boys</li>
    <li>The Dickies</li>
    <li>Germs</li>
    <li>Jane's Addiction</li>
    <li>L7</li>
    <li>Minutemen</li>
    <li>Firehose</li>
    <li>Snoop Dogg</li>
    <li>Suicidal Tendencies</li>
    <li>Van Halen</li>
    <li>"Weird Al" Yankovic</li>
  </ul>
{{/@accordion}}
