{{>@global-header}}

{{#>@page-head
  marquee-image="/images/hero_aboutus.jpg" h1-heading="About us"
  h3-heading="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat erat a convallis varius. Praesent hendrerit sed augue."}}
{{/@page-head}}

{{#>@centered-megatext}}Fortifi partners with local governments to bring you low cost financing that gets repaid through your property tax bill. The financing can be used for improvements that are good for the environment and save you money on your utility bills.{{/@centered-megatext}}

  <div class="wrapper">
    {{#>@media-object
      imgsrc="//picsum.photos/id/666/1600/900"
      heading="Lorem ipsum property owners stet amet"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
      }}
    {{/@media-object}}

    {{#>@media-object
      imgsrc="//picsum.photos/id/667/1600/900"
      heading="Lorem ipsum property owners stet amet"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
      }}
    {{/@media-object}}
  </div><!--/ wrapper -->

{{>@form-footer}}

{{>@global-footer}}
