{{>@global-header}}

{{#>@page-head 
  marquee-image="/images/hero_howitworks.jpg" 
  h1-heading="How it works" 
  h3-heading="FortiFi partners with local governments to bring you low cost financing that gets repaid through your property tax bill."}}
{{/@page-head}}

{{>@stats }}

<div class="wrapper">
  {{#>@media-object
    imgsrc="//picsum.photos/id/666/1600/900"
    heading="For property owners"
    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
    }}
  {{/@media-object}}
</div><!--/ wrapper -->

{{>@card-deck}}

<div class="wrapper">
  {{#>@media-object
    imgsrc="//picsum.photos/id/667/1600/900"
    heading="For contractors"
    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
    }}
  {{/@media-object}}
</div><!--/ wrapper -->

{{>@form-footer}}
{{>@global-footer}}
