{{>@global-header}}

{{#>@page-head 
  marquee-image="/images/hero_howitworks.jpg" 
  h1-heading="Resources" 
  h3-heading="Learn more about FortiFi financing."
}}
{{/@page-head}}

<div class="wrapper">
  {{#>@media-object
    imgsrc="//picsum.photos/id/1026/1600/900"
    heading="Resource documents:"
    content="RTE content with plain list of document links goes here."
    }}
  {{/@media-object}}
</div><!--/ wrapper -->

{{>@form-footer}}
{{>@global-footer}}
