
{{ collection:error-content-404 sort="random" limit="1" }}
  <section class="page-head">
    <div class="wrapper">
      <div class="page-head__heading rhythm">
        <h1 class="heading heading--h1 heading--h1-major">{{ hero_heading }}</h1>
        <h3 class="heading heading--h3">{{ hero_content }}</h3>
      </div>
    </div>
    <div class="page-head__image">
      {{ partial:image source="{image}" }}
    </div>
    {{ if action_overlay }}
    <div class="wrapper wrapper--relative">
      <div class="page-head__cta rich-text">
        <p>
          {{ action_overlay }}
        </p>
      </div>
      <!--/ __cta -->
    </div>
    {{ /if }}
  </section>
{{ /collection:error-content-404 }}
