<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152607949-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-152607949-1');
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments);};ga.l=+new Date;
  window.ga('create', 'UA-152607949-1', 'auto');

</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '344140116122772');
  fbq('track', 'PageView');
</script>
<noscript>
  <img height="1" width="1" style="display:none"
       src="https://www.facebook.com/tr?id=344140116122772&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<meta name="norton-safeweb-site-verification" content="9g7pa3wtpy0bpu2yzx5x7m3oic20-tejifx411ikshxqmy8zi0qn8p5sdgndfiudbhhw3jzgmxvylyoh4l1bqcwad4ebuixlrojo-vy0df1n806775sag9vp6ou-9g0k" />
<meta name="facebook-domain-verification" content="6f2kt0ek55nufm1yvze4zn0dy76men" />
