{{!--
  Statamic ViewFile: \site\themes\fortifi\partials\nest_sets\card_deck_item.html
--}}

<div class="card-deck__item rhythm">
  <div class="card-deck__icon-box">
    <img src="/images/icon_funding.svg" class="card__icon-box-img">
  </div>

  <div class="rhythm rich-text">
    {{#>@heading variant="h3"}}Save Energy{{/@heading}}

    <ul>
      <li>High Efficiency Ventilation &amp; Air Conditioning</li>
      <li>Windows, Doors &amp; Skylights</li>
      <li>Cool Wall Coatings</li>
      <li>High Performance Roofing</li>
      <li>Attic, Wall &amp; Under Floor Insulation</li>
      <li>Radiant Barriers &amp; Air Sealing</li>
      <li>High Efficiency Lighting</li>
    </ul>

    <p>
      <a href="#" class="has-brand-icon">#optional link</a>
    </p>
  </div>
</div>

