<div class="alert-modal is-hidden">
  <div class="alert-modal__body">
    <button data-a11y-dialog-hide class="alert-modal__close" aria-label="Close this dialog window"></button>
    <div class="alert-modal__copy rhythm">
      {{>@brand}}
      {{#>@heading variant="h2"}}Energy Efficient Equity (E3) is now FortiFi!{{/@heading}}
      <p>As our company grows not only into new territories but also internally,
        we have decided to change our name from Energy Efficient Equity, Inc. (E3)
        to FortiFi as we feel the new name represents who we are as a company
        and better represents our values.
      </p>
      <p><a href="https://markets.businessinsider.com/news/stocks/energy-efficient-equity-changes-name-to-become-fortifi-1028799750" target="_blank" alt="Click here to link to Buisiness Insider press release" class="alert-modal__press-link">Click here</a> to review full press release.</p>
    </div>
  </div>
</div>
