.color {
  /* grayscales */
  &--white { color: var(--color-white); }
  &--gray { color: var(--color-gray); }
  &--gray-1 { color: var(--color-gray-1); }
  &--gray-2 { color: var(--color-gray-2); }
  &--gray-3 { color: var(--color-gray-3); }
  &--gray-4 { color: var(--color-gray-4); }
  &--gray-5 { color: var(--color-gray-5); }
  &--text { color: var(--color-text); }

  /* colors */
  &--navy { color: var(--color-navy); }
  &--surf { color: var(--color-surf); }
  &--lime { color: var(--color-lime); }
  &--mist { color: var(--color-mist); }
  &--ocean { color: var(--color-ocean); }
  &--sky { color: var(--color-sky); }
  &--error { color: var(--color-error); }
}
