<div><span class="color--navy">&block;&block; --navy</span></div>
<div><span class="color--surf">&block;&block; --surf</span></div>

<div><span class="color--lime">&block;&block; --lime</span></div>
<div><span class="color--mist">&block;&block; --mist</span></div>
<div><span class="color--ocean">&block;&block; --ocean</span></div>
<div><span class="color--sky">&block;&block; --sky</span></div>
<div><span class="color--error">&block;&block; --error</span></div>

<div><span class="color--white">&block;&block; --white</span></div>
<div><span class="color--gray">&block;&block; --gray</span></div>

<div><span class="color--gray-1">&block;&block; --gray-1</span></div>
<div><span class="color--gray-2">&block;&block; --gray-2</span></div>
<div><span class="color--gray-3">&block;&block; --gray-3</span></div>
<div><span class="color--gray-4">&block;&block; --gray-4</span></div>
<div><span class="color--gray-5">&block;&block; --gray-5</span></div>

<div><span class="color--text">&block;&block; --text</span></div>

