<nav class="global-nav js-global-nav">
  <ul class="nav js-nav">
    <li class="nav__item">
      <a class="nav__link" href="#who-it-works">How it works</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#about-us">About Us</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#contact">Contact</a>
    </li>
    <li class="nav__item  nav__item--contact">
      {{#>@button variant="primary" href="#get-started"}}Get Started{{/@button}}
    </li>
    <li class="nav__item nav__item--mobile">
      <a class="nav__link" href="tel:18583452000">1.858.345.2000</a>
    </li>
    <li class="nav__item nav__item--mobile">
      <a class="nav__link" href="mailto:info@fortifi.com">info@fortifi.com</a>
    </li>
    <li class="nav__item nav__item--mobile">
      <a class="nav__link login" href="https://www.energyefficientequity.com/login/">Login</a>
    </li>
  </ul>
</nav>
